 body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

 }

.container{
    margin: 0  166px;
}
.header{
    background-image: url(img/hero\ image\ \(1\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-line{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;

}
 .nav-item{
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;
    transition: 0.3s linear;
 }

.nav-item:hover {
    color: red;

}


 .cart{
    position: relative;
    border-right:1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;


 }
 .button{
    background-color:orange;
    color: #fff;
    text-decoration: none;
    padding: 2px 18px;

    
    transition: 0.3s linear;
 }
 .button:hover{
     background-color: aqua;
 }
.cart-img{
    position: absolute;
    top:18px;
    right:7px;
}
.num{
    color:white;
    text-transform:none ;
    font-weight:700px;

    transition: 0.3s linear;
}
.num:hover{
    color: aqua;
}

.phone-text{
    font-size: 14px;
    font-weight: 400px;
    color:#fff;
}
.phone-holder{
    display: flex;
    align-items: center;
} 


.header-title{
    padding-top: 50px;
    color:aqua;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight:400px ;

    text-align: center;
}
.header-suptitle{
    color: red;
}
.header-button{
    background-color: orangered;
    padding: 14px 28px;
    color:white;
    font-size: 14px;
    font-weight: 700px;
    font-family: 'Open Sans', sans-serif;
     text-decoration: none;

     transition: background-color 0.3s linear;
}
.header-button:hover{
    background-color: darkgreen;
}
.card-img{
    justify-content: center;
}
.card{
    background-color:white;
    width: 349px;
    box-shadow: 349px;
}
.cards{
    display: flex;
    background-color:black;
    justify-content: space-around;
    
    
    
}
.img{
    display: flex;
    justify-content: center;

}
.text{
    display: flex;
    justify-content: center;
}
.adil{
    display: flex;
    justify-content: center;

}

.intro1 , .intro2, .intro3{
    background-color: white;
    flex-grow: 1;
    margin: 10px;
}